In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv("House Data.csv")
df

,Unnamed: 0,district,price,address,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,UsingStatus,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
0,0,adalar,"3,100,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",24 Şubat 2022,Satılık,160 m2,21 Ve Üzeri,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,adalar,"1,600,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",02 Mart 2022,Satılık,120 m2,5-10,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,adalar,"18,500,000TL","['Anasayfa', 'Satılık Müstakil Ev', 'İstanbul ...",11 Şubat 2022,Satılık,350 m2,21 Ve Üzeri,2,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,adalar,"9,500,000TL","['Anasayfa', 'Satılık Bina', 'İstanbul Satılık...",11 Şubat 2022,Satılık,550 m2,11-15,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,adalar,"25,000,000TL","['Anasayfa', 'Satılık Köşk', 'İstanbul Satılık...",19 Ocak 2022,Satılık,840 m2,21 Ve Üzeri,4,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25150,25150,zeytinburnu,"1,850,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",12 Ocak 2022,Satılık,180 m2,5-10,4,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25151,25151,zeytinburnu,"1,100,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",10 Aralık 2021,Satılık,52 m2,3,16,Kiracı Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25152,25152,zeytinburnu,"9,000,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",26 Şubat 2022,Satılık,176 m2,0 (Yeni),25,Boş,...,Genel Fiyat,NaN,NaN,NaN,55 m2,NaN,NaN,NaN,NaN,NaN
25153,25153,zeytinburnu,"13,000,000TL","['Anasayfa', 'Satılık Residence', 'İstanbul Sa...",18 Ekim 2021,Satılık,170 m2,5-10,30,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25154,25154,zeytinburnu,"1,000,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",10 Aralık 2021,Satılık,55 m2,0 (Yeni),16,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25155 entries, 0 to 25154
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                25155 non-null  int64
 1   district                  25155 non-null  object
 2   price                     25155 non-null  object
 3   address                   25155 non-null  object
 4   AdUpdateDate              25155 non-null  object
 5   Category                  25155 non-null  object
 6   GrossSquareMeters         25155 non-null  object
 7   BuildingAge               25155 non-null  object
 8   NumberFloorsofBuilding    25155 non-null  int64
 9   UsingStatus               25155 non-null  object
 10  EligibilityForInvestment  21506 non-null  object
 11  BuildStatus               11231 non-null  object
 12  TitleStatus               9712 non-null   object
 13  ItemStatus                18332 non-null  object
 14  NumberOfBathrooms         25155 non-null  object
 15  NumberOfWCs               8129 non-null   object
 16  AdCreationDate            25155 non-null  object
 17  Type                      25155 non-null  object
 18  NetSquareMeters           25155 non-null  object
 19  NumberOfRooms             25155 non-null  object
 20  FloorLocation             25155 non-null  object
 21  HeatingType               25155 non-null  object
 22  CreditEligibility         25155 non-null  object
 23  InsideTheSite             25155 non-null  object
 24  StructureType             10406 non-null  object
 25  MortgageStatus            6058 non-null   object
 26  Swap                      20839 non-null  object
 27  Balcony                   9109 non-null   object
 28  PriceStatus               25155 non-null  object
 29  RentalIncome              5815 non-null   object
 30  NumberOfBalconies         5324 non-null   object
 31  BalconyType               4720 non-null   object
 32  HallSquareMeters          1433 non-null   object
 33  WCSquareMeters            865 non-null    object
 34  IsItVideoNavigable?       5481 non-null   object
 35  Subscription              4488 non-null   object
 36  BathroomSquareMeters      1112 non-null   object
 37  BalconySquareMeters       1040 non-null   object
dtypes: int64(2), object(36)
memory usage: 7.3+ MB

In [4]:
df.columns

Index(['Unnamed: 0', 'district', 'price', 'address', 'AdUpdateDate',
       'Category', 'GrossSquareMeters', 'BuildingAge',
       'NumberFloorsofBuilding', 'UsingStatus', 'EligibilityForInvestment',
       'BuildStatus', 'TitleStatus', 'ItemStatus', 'NumberOfBathrooms',
       'NumberOfWCs', 'AdCreationDate', 'Type', 'NetSquareMeters',
       'NumberOfRooms', 'FloorLocation', 'HeatingType', 'CreditEligibility',
       'InsideTheSite', 'StructureType', 'MortgageStatus', 'Swap', 'Balcony',
       'PriceStatus', 'RentalIncome', 'NumberOfBalconies', 'BalconyType',
       'HallSquareMeters', 'WCSquareMeters', 'IsItVideoNavigable?',
       'Subscription', 'BathroomSquareMeters', 'BalconySquareMeters'],
      dtype='object')

In [5]:
df["price"]=df["price"].str.replace(",","").str.strip()
df["price"]=pd.to_numeric(df["price"],errors="coerce")
df["GrossSquareMeters"]=pd.to_numeric(df["GrossSquareMeters"].str.extract('(\d+)')[0],errors="coerce")
df["NetSquareMeters"]=pd.to_numeric(df["NetSquareMeters"].str.extract('(\d+)')[0],errors="coerce")
df

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\krish\AppData\Local\Temp\ipykernel_14148\593750950.py:3: SyntaxWarning: invalid escape sequence '\d'
  df["GrossSquareMeters"]=pd.to_numeric(df["GrossSquareMeters"].str.extract('(\d+)')[0],errors="coerce")
C:\Users\krish\AppData\Local\Temp\ipykernel_14148\593750950.py:4: SyntaxWarning: invalid escape sequence '\d'
  df["NetSquareMeters"]=pd.to_numeric(df["NetSquareMeters"].str.extract('(\d+)')[0],errors="coerce")

,Unnamed: 0,district,price,address,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,UsingStatus,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
0,0,adalar,NaN,"['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",24 Şubat 2022,Satılık,160,21 Ve Üzeri,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,adalar,NaN,"['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",02 Mart 2022,Satılık,120,5-10,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,adalar,NaN,"['Anasayfa', 'Satılık Müstakil Ev', 'İstanbul ...",11 Şubat 2022,Satılık,350,21 Ve Üzeri,2,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,adalar,NaN,"['Anasayfa', 'Satılık Bina', 'İstanbul Satılık...",11 Şubat 2022,Satılık,550,11-15,3,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,adalar,NaN,"['Anasayfa', 'Satılık Köşk', 'İstanbul Satılık...",19 Ocak 2022,Satılık,840,21 Ve Üzeri,4,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25150,25150,zeytinburnu,NaN,"['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",12 Ocak 2022,Satılık,180,5-10,4,Mülk Sahibi Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25151,25151,zeytinburnu,NaN,"['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",10 Aralık 2021,Satılık,52,3,16,Kiracı Oturuyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25152,25152,zeytinburnu,NaN,"['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",26 Şubat 2022,Satılık,176,0 (Yeni),25,Boş,...,Genel Fiyat,NaN,NaN,NaN,55 m2,NaN,NaN,NaN,NaN,NaN
25153,25153,zeytinburnu,NaN,"['Anasayfa', 'Satılık Residence', 'İstanbul Sa...",18 Ekim 2021,Satılık,170,5-10,30,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25154,25154,zeytinburnu,NaN,"['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",10 Aralık 2021,Satılık,55,0 (Yeni),16,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns.tolist()

['Unnamed: 0',
 'district',
 'price',
 'address',
 'AdUpdateDate',
 'Category',
 'GrossSquareMeters',
 'BuildingAge',
 'NumberFloorsofBuilding',
 'UsingStatus',
 'EligibilityForInvestment',
 'BuildStatus',
 'TitleStatus',
 'ItemStatus',
 'NumberOfBathrooms',
 'NumberOfWCs',
 'AdCreationDate',
 'Type',
 'NetSquareMeters',
 'NumberOfRooms',
 'FloorLocation',
 'HeatingType',
 'CreditEligibility',
 'InsideTheSite',
 'StructureType',
 'MortgageStatus',
 'Swap',
 'Balcony',
 'PriceStatus',
 'RentalIncome',
 'NumberOfBalconies',
 'BalconyType',
 'HallSquareMeters',
 'WCSquareMeters',
 'IsItVideoNavigable?',
 'Subscription',
 'BathroomSquareMeters',
 'BalconySquareMeters']

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25155 entries, 0 to 25154
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                25155 non-null  int64
 1   district                  25155 non-null  object
 2   price                     0 non-null      float64
 3   address                   25155 non-null  object
 4   AdUpdateDate              25155 non-null  object
 5   Category                  25155 non-null  object
 6   GrossSquareMeters         25155 non-null  int64
 7   BuildingAge               25155 non-null  object
 8   NumberFloorsofBuilding    25155 non-null  int64
 9   UsingStatus               25155 non-null  object
 10  EligibilityForInvestment  21506 non-null  object
 11  BuildStatus               11231 non-null  object
 12  TitleStatus               9712 non-null   object
 13  ItemStatus                18332 non-null  object
 14  NumberOfBathrooms         25155 non-null  object
 15  NumberOfWCs               8129 non-null   object
 16  AdCreationDate            25155 non-null  object
 17  Type                      25155 non-null  object
 18  NetSquareMeters           25155 non-null  int64
 19  NumberOfRooms             25155 non-null  object
 20  FloorLocation             25155 non-null  object
 21  HeatingType               25155 non-null  object
 22  CreditEligibility         25155 non-null  object
 23  InsideTheSite             25155 non-null  object
 24  StructureType             10406 non-null  object
 25  MortgageStatus            6058 non-null   object
 26  Swap                      20839 non-null  object
 27  Balcony                   9109 non-null   object
 28  PriceStatus               25155 non-null  object
 29  RentalIncome              5815 non-null   object
 30  NumberOfBalconies         5324 non-null   object
 31  BalconyType               4720 non-null   object
 32  HallSquareMeters          1433 non-null   object
 33  WCSquareMeters            865 non-null    object
 34  IsItVideoNavigable?       5481 non-null   object
 35  Subscription              4488 non-null   object
 36  BathroomSquareMeters      1112 non-null   object
 37  BalconySquareMeters       1040 non-null   object
dtypes: float64(1), int64(4), object(33)
memory usage: 7.3+ MB

In [8]:
df.drop('address',axis=1,inplace=True)
df.head()

,Unnamed: 0,district,price,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,UsingStatus,EligibilityForInvestment,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
0,0,adalar,NaN,24 Şubat 2022,Satılık,160,21 Ve Üzeri,3,Mülk Sahibi Oturuyor,Bilinmiyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,adalar,NaN,02 Mart 2022,Satılık,120,5-10,3,Mülk Sahibi Oturuyor,Yatırıma Uygun,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,adalar,NaN,11 Şubat 2022,Satılık,350,21 Ve Üzeri,2,Mülk Sahibi Oturuyor,Bilinmiyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,adalar,NaN,11 Şubat 2022,Satılık,550,11-15,3,Mülk Sahibi Oturuyor,Bilinmiyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,adalar,NaN,19 Ocak 2022,Satılık,840,21 Ve Üzeri,4,Boş,Bilinmiyor,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.groupby("Category")["GrossSquareMeters"].agg(["mean","median","max","min","std","count"])

                mean  median  max  min         std  count
Category
Satılık   148.955635   120.0  990    1  101.093639  25155

In [10]:
df.groupby("NumberOfRooms")["NetSquareMeters"].agg(["mean","median","max","min","std","count"])

                     mean  median  max  min         std  count
NumberOfRooms
1 Oda          222.639053   134.0  999    1  240.905571    169
1+1             62.276637    60.0  959    1   37.383543   2046
1.5+1           73.062500    70.0  140   45   17.595706     32
2+0            104.642857    92.5  290   50   58.751900     14
2+1             89.499795    85.0  800    1   30.583429   9752
2+2            130.409938   130.0  412    1   41.647100    161
2.5+1          108.458333   103.0  220   80   30.687137     48
3+1            125.076441   120.0  850    1   38.106885   6868
3+2            163.062305   160.0  400    1   38.167042    642
3.5+1          155.229885   140.0  499   93   61.491860     87
4+1            179.435092   170.0  920    1   53.748661   1687
4+2            199.663763   181.5  950    3   70.514044   1148
4.5+1          209.381818   180.0  500  135   80.529151     55
5 Oda          371.384615   300.0  930    1  319.386792     13
5+1            241.887946   210.0  900    1  115.398029    589
5+2            271.777219   240.0  950    1  113.241674    597
5+3            327.560976   250.0  999    1  200.985702     41
5+4            376.250000   307.5  650  240  188.475242      4
6+1            296.955556   265.0  899    1  164.770395    180
6+2            329.527897   300.0  850    1  151.276837    233
6+3            365.459459   320.0  900    9  199.159148     37
6+4            416.000000   410.0  750   70  195.118198     10
7+1            358.097561   350.0  800    1  209.585401     41
7+2            404.791667   382.5  900    1  178.431818     72
7+3            370.357143   357.5  930    1  276.117580     42
8+ Oda         398.706790   400.0  950    1  274.906475    324
Stüdyo          42.338403    40.0  220   22   19.595030    263

In [11]:
df.groupby("Type")["price"].agg(["mean","median","min","max","std","count"])

       mean  median  min  max  std  count
Type
Konut   NaN     NaN  NaN  NaN  NaN      0

In [12]:
categorical = "district"
quantitative = "price"

summary_stats = df.groupby(categorical)[quantitative].agg(
    count='count',
    mean='mean',
    median='median',
    min='min',
    max='max',
    std='std'
)

summary_stats

               count  mean  median  min  max  std
district
adalar             0   NaN     NaN  NaN  NaN  NaN
arnavutkoy         0   NaN     NaN  NaN  NaN  NaN
atasehir           0   NaN     NaN  NaN  NaN  NaN
avcilar            0   NaN     NaN  NaN  NaN  NaN
bagcilar           0   NaN     NaN  NaN  NaN  NaN
bahcelievler       0   NaN     NaN  NaN  NaN  NaN
bakirkoy           0   NaN     NaN  NaN  NaN  NaN
basaksehir         0   NaN     NaN  NaN  NaN  NaN
bayrampasa         0   NaN     NaN  NaN  NaN  NaN
besiktas           0   NaN     NaN  NaN  NaN  NaN
beykoz             0   NaN     NaN  NaN  NaN  NaN
beylikduzu         0   NaN     NaN  NaN  NaN  NaN
beyoglu            0   NaN     NaN  NaN  NaN  NaN
buyukcekmece       0   NaN     NaN  NaN  NaN  NaN
catalca            0   NaN     NaN  NaN  NaN  NaN
cekmekoy           0   NaN     NaN  NaN  NaN  NaN
esenler            0   NaN     NaN  NaN  NaN  NaN
esenyurt           0   NaN     NaN  NaN  NaN  NaN
eyupsultan         0   NaN     NaN  NaN  NaN  NaN
fatih              0   NaN     NaN  NaN  NaN  NaN
gaziosmanpasa      0   NaN     NaN  NaN  NaN  NaN
gungoren           0   NaN     NaN  NaN  NaN  NaN
kadikoy            0   NaN     NaN  NaN  NaN  NaN
kagithane          0   NaN     NaN  NaN  NaN  NaN
kartal             0   NaN     NaN  NaN  NaN  NaN
kucukcekmece       0   NaN     NaN  NaN  NaN  NaN
maltepe            0   NaN     NaN  NaN  NaN  NaN
pendik             0   NaN     NaN  NaN  NaN  NaN
sancaktepe         0   NaN     NaN  NaN  NaN  NaN
sariyer            0   NaN     NaN  NaN  NaN  NaN
sile               0   NaN     NaN  NaN  NaN  NaN
silivri            0   NaN     NaN  NaN  NaN  NaN
sisli              0   NaN     NaN  NaN  NaN  NaN
sultanbeyli        0   NaN     NaN  NaN  NaN  NaN
sultangazi         0   NaN     NaN  NaN  NaN  NaN
tuzla              0   NaN     NaN  NaN  NaN  NaN
umraniye           0   NaN     NaN  NaN  NaN  NaN
uskudar            0   NaN     NaN  NaN  NaN  NaN
zeytinburnu        0   NaN     NaN  NaN  NaN  NaN