In [ ]:
# With reference to Table , obtain the Frequency table for the
# attribute age. From the frequency table you have obtained, calculate
# the information gain of the frequency table while splitting on Age. (Use
# step by step Python/Pandas commands)

In [1]:
# 1) Build the DataFrame (replace rows if your table differs)
import pandas as pd
from math import log2

rows = [
    ("Young",  "High",   "No",  "Fair", "No"),
    ("Young",  "High",   "No",  "Good", "No"),
    ("Middle", "High",   "No",  "Fair", "Yes"),
    ("Old",    "Medium", "No",  "Fair", "Yes"),
    ("Old",    "Low",    "Yes", "Fair", "Yes"),
    ("Old",    "Low",    "Yes", "Good", "No"),
    ("Middle", "Low",    "Yes", "Good", "Yes"),
    ("Young",  "Medium", "No",  "Fair", "No"),
    ("Young",  "Low",    "Yes", "Fair", "Yes"),
    ("Old",    "Medium", "No",  "Fair", "Yes"),
    ("Young",  "Medium", "Yes", "Good", "Yes"),
    ("Middle", "Medium", "No",  "Good", "Yes"),
    ("Middle", "High",   "Yes", "Fair", "Yes"),
    ("Old",    "Medium", "No",  "Good", "No"),
]

df = pd.DataFrame(rows, columns=["Age","Income","Married","Health","Class"])
df

       Age  Income Married Health Class
0    Young    High      No   Fair    No
1    Young    High      No   Good    No
2   Middle    High      No   Fair   Yes
3      Old  Medium      No   Fair   Yes
4      Old     Low     Yes   Fair   Yes
5      Old     Low     Yes   Good    No
6   Middle     Low     Yes   Good   Yes
7    Young  Medium      No   Fair    No
8    Young     Low     Yes   Fair   Yes
9      Old  Medium      No   Fair   Yes
10   Young  Medium     Yes   Good   Yes
11  Middle  Medium      No   Good   Yes
12  Middle    High     Yes   Fair   Yes
13     Old  Medium      No   Good    No

In [1]:
freq_age=df["Age"].value_counts().rename_axis("Age").reset_index(name="Frequency")
print(freq_age)

NameError: name 'df' is not defined

In [5]:
def entropy(c_ser):
    c_nts=c_ser.value_counts()
    total=c_nts.sum()
    ent=0.0
    for c in c_nts:
        p=c/total
        if p>0:
            ent-=p*log2(p)
    return ent
entropy_before=entropy(df["Class"])   
print(entropy_before)

0.9402859586706311

In [2]:
groups=df.groupby("Age")
weighted_entropy=0.0
for name, grp in groups:
    e=entropy(grp["Class"])
    w=len(grp)/len(df)
    weighted_entropy+=w*e
print(weighted_entropy)

NameError: name 'df' is not defined

In [12]:
info_gain=entropy_before-weighted_entropy
print(info_gain)

0.24674981977443933