In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("House Data.csv")
df.sample()

,Unnamed: 0,district,price,address,AdUpdateDate,Category,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,UsingStatus,...,PriceStatus,RentalIncome,NumberOfBalconies,BalconyType,HallSquareMeters,WCSquareMeters,IsItVideoNavigable?,Subscription,BathroomSquareMeters,BalconySquareMeters
12524,12524,kadikoy,"4,790,000TL","['Anasayfa', 'Satılık Daire', 'İstanbul Satılı...",26 Şubat 2022,Satılık,120 m2,0 (Yeni),11,Boş,...,Genel Fiyat,NaN,NaN,NaN,NaN,NaN,Evet,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25155 entries, 0 to 25154
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                25155 non-null  int64
 1   district                  25155 non-null  object
 2   price                     25155 non-null  object
 3   address                   25155 non-null  object
 4   AdUpdateDate              25155 non-null  object
 5   Category                  25155 non-null  object
 6   GrossSquareMeters         25155 non-null  object
 7   BuildingAge               25155 non-null  object
 8   NumberFloorsofBuilding    25155 non-null  int64
 9   UsingStatus               25155 non-null  object
 10  EligibilityForInvestment  21506 non-null  object
 11  BuildStatus               11231 non-null  object
 12  TitleStatus               9712 non-null   object
 13  ItemStatus                18332 non-null  object
 14  NumberOfBathrooms         25155 non-null  object
 15  NumberOfWCs               8129 non-null   object
 16  AdCreationDate            25155 non-null  object
 17  Type                      25155 non-null  object
 18  NetSquareMeters           25155 non-null  object
 19  NumberOfRooms             25155 non-null  object
 20  FloorLocation             25155 non-null  object
 21  HeatingType               25155 non-null  object
 22  CreditEligibility         25155 non-null  object
 23  InsideTheSite             25155 non-null  object
 24  StructureType             10406 non-null  object
 25  MortgageStatus            6058 non-null   object
 26  Swap                      20839 non-null  object
 27  Balcony                   9109 non-null   object
 28  PriceStatus               25155 non-null  object
 29  RentalIncome              5815 non-null   object
 30  NumberOfBalconies         5324 non-null   object
 31  BalconyType               4720 non-null   object
 32  HallSquareMeters          1433 non-null   object
 33  WCSquareMeters            865 non-null    object
 34  IsItVideoNavigable?       5481 non-null   object
 35  Subscription              4488 non-null   object
 36  BathroomSquareMeters      1112 non-null   object
 37  BalconySquareMeters       1040 non-null   object
dtypes: int64(2), object(36)
memory usage: 7.3+ MB

In [4]:
df.isna().sum()

Unnamed: 0                      0
district                        0
price                           0
address                         0
AdUpdateDate                    0
Category                        0
GrossSquareMeters               0
BuildingAge                     0
NumberFloorsofBuilding          0
UsingStatus                     0
EligibilityForInvestment     3649
BuildStatus                 13924
TitleStatus                 15443
ItemStatus                   6823
NumberOfBathrooms               0
NumberOfWCs                 17026
AdCreationDate                  0
Type                            0
NetSquareMeters                 0
NumberOfRooms                   0
FloorLocation                   0
HeatingType                     0
CreditEligibility               0
InsideTheSite                   0
StructureType               14749
MortgageStatus              19097
Swap                         4316
Balcony                     16046
PriceStatus                     0
RentalIncome                19340
NumberOfBalconies           19831
BalconyType                 20435
HallSquareMeters            23722
WCSquareMeters              24290
IsItVideoNavigable?         19674
Subscription                20667
BathroomSquareMeters        24043
BalconySquareMeters         24115
dtype: int64

In [5]:
df.dtypes

Unnamed: 0                   int64
district                    object
price                       object
address                     object
AdUpdateDate                object
Category                    object
GrossSquareMeters           object
BuildingAge                 object
NumberFloorsofBuilding       int64
UsingStatus                 object
EligibilityForInvestment    object
BuildStatus                 object
TitleStatus                 object
ItemStatus                  object
NumberOfBathrooms           object
NumberOfWCs                 object
AdCreationDate              object
Type                        object
NetSquareMeters             object
NumberOfRooms               object
FloorLocation               object
HeatingType                 object
CreditEligibility           object
InsideTheSite               object
StructureType               object
MortgageStatus              object
Swap                        object
Balcony                     object
PriceStatus                 object
RentalIncome                object
NumberOfBalconies           object
BalconyType                 object
HallSquareMeters            object
WCSquareMeters              object
IsItVideoNavigable?         object
Subscription                object
BathroomSquareMeters        object
BalconySquareMeters         object
dtype: object

In [6]:
#Yaha se answer Chalu.
uniquecount=df.nunique()
uniquecount

Unnamed: 0                  25155
district                       39
price                        2825
address                      1638
AdUpdateDate                  186
Category                        1
GrossSquareMeters             584
BuildingAge                    10
NumberFloorsofBuilding         55
UsingStatus                     3
EligibilityForInvestment        3
BuildStatus                     3
TitleStatus                     5
ItemStatus                      2
NumberOfBathrooms               7
NumberOfWCs                     7
AdCreationDate                728
Type                            1
NetSquareMeters               517
NumberOfRooms                  27
FloorLocation                  55
HeatingType                    15
CreditEligibility               3
InsideTheSite                   2
StructureType                   8
MortgageStatus                  2
Swap                            2
Balcony                         2
PriceStatus                     2
RentalIncome                  159
NumberOfBalconies               4
BalconyType                     5
HallSquareMeters               61
WCSquareMeters                 22
IsItVideoNavigable?             2
Subscription                  229
BathroomSquareMeters           24
BalconySquareMeters            49
dtype: int64

In [7]:
df.dtypes

Unnamed: 0                   int64
district                    object
price                       object
address                     object
AdUpdateDate                object
Category                    object
GrossSquareMeters           object
BuildingAge                 object
NumberFloorsofBuilding       int64
UsingStatus                 object
EligibilityForInvestment    object
BuildStatus                 object
TitleStatus                 object
ItemStatus                  object
NumberOfBathrooms           object
NumberOfWCs                 object
AdCreationDate              object
Type                        object
NetSquareMeters             object
NumberOfRooms               object
FloorLocation               object
HeatingType                 object
CreditEligibility           object
InsideTheSite               object
StructureType               object
MortgageStatus              object
Swap                        object
Balcony                     object
PriceStatus                 object
RentalIncome                object
NumberOfBalconies           object
BalconyType                 object
HallSquareMeters            object
WCSquareMeters              object
IsItVideoNavigable?         object
Subscription                object
BathroomSquareMeters        object
BalconySquareMeters         object
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25155 entries, 0 to 25154
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                25155 non-null  int64
 1   district                  25155 non-null  object
 2   price                     25155 non-null  object
 3   address                   25155 non-null  object
 4   AdUpdateDate              25155 non-null  object
 5   Category                  25155 non-null  object
 6   GrossSquareMeters         25155 non-null  object
 7   BuildingAge               25155 non-null  object
 8   NumberFloorsofBuilding    25155 non-null  int64
 9   UsingStatus               25155 non-null  object
 10  EligibilityForInvestment  21506 non-null  object
 11  BuildStatus               11231 non-null  object
 12  TitleStatus               9712 non-null   object
 13  ItemStatus                18332 non-null  object
 14  NumberOfBathrooms         25155 non-null  object
 15  NumberOfWCs               8129 non-null   object
 16  AdCreationDate            25155 non-null  object
 17  Type                      25155 non-null  object
 18  NetSquareMeters           25155 non-null  object
 19  NumberOfRooms             25155 non-null  object
 20  FloorLocation             25155 non-null  object
 21  HeatingType               25155 non-null  object
 22  CreditEligibility         25155 non-null  object
 23  InsideTheSite             25155 non-null  object
 24  StructureType             10406 non-null  object
 25  MortgageStatus            6058 non-null   object
 26  Swap                      20839 non-null  object
 27  Balcony                   9109 non-null   object
 28  PriceStatus               25155 non-null  object
 29  RentalIncome              5815 non-null   object
 30  NumberOfBalconies         5324 non-null   object
 31  BalconyType               4720 non-null   object
 32  HallSquareMeters          1433 non-null   object
 33  WCSquareMeters            865 non-null    object
 34  IsItVideoNavigable?       5481 non-null   object
 35  Subscription              4488 non-null   object
 36  BathroomSquareMeters      1112 non-null   object
 37  BalconySquareMeters       1040 non-null   object
dtypes: int64(2), object(36)
memory usage: 7.3+ MB

In [9]:
# df.isna().sum()
df=df.replace(["?"," ","-","None","nan"],pd.NA)
df.isna().sum()

Unnamed: 0                      0
district                        0
price                           0
address                         0
AdUpdateDate                    0
Category                        0
GrossSquareMeters               0
BuildingAge                     0
NumberFloorsofBuilding          0
UsingStatus                     0
EligibilityForInvestment     3649
BuildStatus                 13924
TitleStatus                 15443
ItemStatus                   6823
NumberOfBathrooms               0
NumberOfWCs                 17026
AdCreationDate                  0
Type                            0
NetSquareMeters                 0
NumberOfRooms                   0
FloorLocation                   0
HeatingType                     0
CreditEligibility               0
InsideTheSite                   0
StructureType               14749
MortgageStatus              19097
Swap                         4316
Balcony                     16046
PriceStatus                     0
RentalIncome                19340
NumberOfBalconies           19831
BalconyType                 20435
HallSquareMeters            23722
WCSquareMeters              24290
IsItVideoNavigable?         19674
Subscription                20667
BathroomSquareMeters        24043
BalconySquareMeters         24115
dtype: int64

In [10]:
#convert area related columns to numbers
cols=["GrossSquareMeters", "BuildingAge", "NumberOfBathrooms", "NumberOfWCs",
    "NetSquareMeters", "NumberOfRooms", "FloorLocation",
    "RentalIncome", "NumberOfBalconies", "HallSquareMeters",
    "WCSquareMeters", "BathroomSquareMeters", "BalconySquareMeters"]
for col in cols:
    df[col]=pd.to_numeric(df[col].str.replace(r"[^0-9.]","",regex=True),errors="coerce")

In [11]:
df["price"]=pd.to_numeric(df["price"].str.replace(r"[^0-9.]","",regex=True),errors="coerce")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25155 entries, 0 to 25154
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                25155 non-null  int64
 1   district                  25155 non-null  object
 2   price                     25155 non-null  int64
 3   address                   25155 non-null  object
 4   AdUpdateDate              25155 non-null  object
 5   Category                  25155 non-null  object
 6   GrossSquareMeters         25155 non-null  float64
 7   BuildingAge               25155 non-null  int64
 8   NumberFloorsofBuilding    25155 non-null  int64
 9   UsingStatus               25155 non-null  object
 10  EligibilityForInvestment  21506 non-null  object
 11  BuildStatus               11231 non-null  object
 12  TitleStatus               9712 non-null   object
 13  ItemStatus                18332 non-null  object
 14  NumberOfBathrooms         24905 non-null  float64
 15  NumberOfWCs               7973 non-null   float64
 16  AdCreationDate            25155 non-null  object
 17  Type                      25155 non-null  object
 18  NetSquareMeters           25155 non-null  float64
 19  NumberOfRooms             24892 non-null  float64
 20  FloorLocation             17847 non-null  float64
 21  HeatingType               25155 non-null  object
 22  CreditEligibility         25155 non-null  object
 23  InsideTheSite             25155 non-null  object
 24  StructureType             10406 non-null  object
 25  MortgageStatus            6058 non-null   object
 26  Swap                      20839 non-null  object
 27  Balcony                   9109 non-null   object
 28  PriceStatus               25155 non-null  object
 29  RentalIncome              5804 non-null   float64
 30  NumberOfBalconies         5324 non-null   float64
 31  BalconyType               4720 non-null   object
 32  HallSquareMeters          1433 non-null   float64
 33  WCSquareMeters            865 non-null    float64
 34  IsItVideoNavigable?       5481 non-null   object
 35  Subscription              4488 non-null   object
 36  BathroomSquareMeters      1112 non-null   float64
 37  BalconySquareMeters       1040 non-null   float64
dtypes: float64(12), int64(4), object(22)
memory usage: 7.3+ MB

In [13]:
#Replace the numeircal column's NaN either with Median , Mean
df["price"]=df["price"].fillna(df["price"].mean())
df.isna().sum()

Unnamed: 0                      0
district                        0
price                           0
address                         0
AdUpdateDate                    0
Category                        0
GrossSquareMeters               0
BuildingAge                     0
NumberFloorsofBuilding          0
UsingStatus                     0
EligibilityForInvestment     3649
BuildStatus                 13924
TitleStatus                 15443
ItemStatus                   6823
NumberOfBathrooms             250
NumberOfWCs                 17182
AdCreationDate                  0
Type                            0
NetSquareMeters                 0
NumberOfRooms                 263
FloorLocation                7308
HeatingType                     0
CreditEligibility               0
InsideTheSite                   0
StructureType               14749
MortgageStatus              19097
Swap                         4316
Balcony                     16046
PriceStatus                     0
RentalIncome                19351
NumberOfBalconies           19831
BalconyType                 20435
HallSquareMeters            23722
WCSquareMeters              24290
IsItVideoNavigable?         19674
Subscription                20667
BathroomSquareMeters        24043
BalconySquareMeters         24115
dtype: int64

In [14]:
df.dtypes

Unnamed: 0                    int64
district                     object
price                         int64
address                      object
AdUpdateDate                 object
Category                     object
GrossSquareMeters           float64
BuildingAge                   int64
NumberFloorsofBuilding        int64
UsingStatus                  object
EligibilityForInvestment     object
BuildStatus                  object
TitleStatus                  object
ItemStatus                   object
NumberOfBathrooms           float64
NumberOfWCs                 float64
AdCreationDate               object
Type                         object
NetSquareMeters             float64
NumberOfRooms               float64
FloorLocation               float64
HeatingType                  object
CreditEligibility            object
InsideTheSite                object
StructureType                object
MortgageStatus               object
Swap                         object
Balcony                      object
PriceStatus                  object
RentalIncome                float64
NumberOfBalconies           float64
BalconyType                  object
HallSquareMeters            float64
WCSquareMeters              float64
IsItVideoNavigable?          object
Subscription                 object
BathroomSquareMeters        float64
BalconySquareMeters         float64
dtype: object

In [15]:
#Replace the Categorical Columns with Mode
catwalecol=df.select_dtypes(include="object").columns
catwalecol

for col in catwalecol:
    df[col]=df[col].fillna(df[col].mode()[0])

df.isna().sum()

Unnamed: 0                      0
district                        0
price                           0
address                         0
AdUpdateDate                    0
Category                        0
GrossSquareMeters               0
BuildingAge                     0
NumberFloorsofBuilding          0
UsingStatus                     0
EligibilityForInvestment        0
BuildStatus                     0
TitleStatus                     0
ItemStatus                      0
NumberOfBathrooms             250
NumberOfWCs                 17182
AdCreationDate                  0
Type                            0
NetSquareMeters                 0
NumberOfRooms                 263
FloorLocation                7308
HeatingType                     0
CreditEligibility               0
InsideTheSite                   0
StructureType                   0
MortgageStatus                  0
Swap                            0
Balcony                         0
PriceStatus                     0
RentalIncome                19351
NumberOfBalconies           19831
BalconyType                     0
HallSquareMeters            23722
WCSquareMeters              24290
IsItVideoNavigable?             0
Subscription                    0
BathroomSquareMeters        24043
BalconySquareMeters         24115
dtype: int64

In [16]:
#Data Transformation 
df["PricePerSqMtr"]=df["price"]/df["NetSquareMeters"]
df["PricePerSqMtr"]

0        2579.034942
1        1596.806387
2        6162.558294
3        1758.607923
4        3570.408455
            ...
25150    1154.806492
25151    3125.000000
25152    5136.986301
25153    8376.288660
25154    2074.688797
Name: PricePerSqMtr, Length: 25155, dtype: float64

In [17]:
#Normalize Numeric Features 
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
df[["pricenorm","GrossSquareMetersNorm"]]=sc.fit_transform(df[["price","GrossSquareMeters"]])

In [18]:
df.to_csv("newcleaneddataset.csv",index=False)